<div class="container">
    <div class="row">
        {{#each User}}
        <h4>Estudiante: {{username}}</h4>
        <a href="/students/{{_id}}" class="btn btn-dark">View student profile</a>
        {{/each }}

    </div>
</div>