<h1>Details</h1>
<hr>
<hr>
{{#each user}}
<div class="row text-center align-items-center">
    <div class="col-2">

        <p class="mb-0">{{username}}</p>

        <p class="mb-0">{{email}}</p>

    </div>
    <div class="col-2">
        <p class="mb-0"> {{description}}</p>
    </div>

    <div class="col-2">
        <p class="mb-0"> {{profileImg}}</p>
    </div>



    </ul>
</div>
{{/each}}
</div>



</div>