<div class="container">

    <h2>Lista de estudiantes</h2>

    <hr>

    <ul>
        {{#each students}}
        <li class="celebrity-row">
            <a href="/profile/{{id}}">
                {{username}}
            </a>
        </li>
        {{/each}}
    </ul>

    <hr>

    <a href="/" class="btn btn-dark">Home</a>

</div>