<main style='height: 95vh;' class='d-flex align-items-center'>
  <div class='container'>
    <form action='/register' method='post'>
      <div class='form-group'>
        <label for='name'>
          Name
        </label>
        <input type='text' class='form-control' id='name' name='name' />
      </div>
      <div class='form-group'>
        <label for='username'>
          Email address
        </label>
        <input type='email' class='form-control' id='username' name='username' />
      </div>
      <div class='form-group'>
        <label for='profileImg'>
          Profile img, paste url
        </label>
        <input type='text' class='form-control' id='profileImg' name='profileImg' />
      </div>
      <div class='form-group'>
        <label for='description'>
          Description
        </label>
        <input type='text' class='form-control' id='description' name='description' />
      </div>
      <div class='form-group'>
        <label for='pwd'>
          Password
        </label>
        <input type='password' class='form-control' id='pwd' name='pwd' />
      </div>
      <div class='d-flex'>
        <button type='submit' class='btn btn-primary ml-auto mr-auto'>
          Register
        </button>
      </div>
      {{#if error}}
        <p class='bg-warning text-center mt-3'>{{this.error}}</p>
        <a href='/login' class='btn btn-info'>Sign in</a>
      {{/if}}
    </form>
  </div>
</main>