<form action="/students/{{studentDetails._id}}" method="POST">
    <label for="roleInput">Role:
        <input type="text" name="role" id="roleInput" value="{{studentDetails.role}}">
    </label>
    <br>
    <div class="container">
        <button class="btn btn-warning" type="submit">Edit Student</button>
    </div>
</form>
<br>