<div class="card col-3 m-2">
    <img src="{{profileImg}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{username}}</h5>
        <a href="/students/{{_id}}" class="btn btn-primary">More</a>
    </div>
</div>