<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/courses/add" method="POST">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" name="id">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="leadTeacher">Lead Teacher</label>
                    <input type="text" class="form-control" id="leadTeacher" name="leadTeacher">
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="text" class="form-control" id="startDate" name="startDate">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate">
                </div>
                <div class="form-group">
                    <label for="ta">Teacher Assistant</label>
                    <input type="text" class="form-control" id="ta" name="ta">
                </div>
                <div class="form-group">
                    <label for="courseImg">Course Image</label>
                    <input type="text" class="form-control" id="courseImg" name="courseImg">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" name="status">
                </div>
                <div class="form-group">
                    <label for="students">Students</label>
                    <input type="text" class="form-control" id="students" name="students">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>