<div class="container">
    <h1>Lista de Cursos</h1>
    <hr>

    <table class="table">

        <tbody>

            {{#each course}}

            <tr>

                <td>
                    {{title}}
                </td>

                <td>
                    <a href="/courses/{{_id}}/detalles" class="btn btn-dark">Ver datos del curso</a>
                </td>

                <td>
                    {{#if ../isTA}}
                    <a href="/courses/{{_id}}/editar" class="btn btn-warning">Editar curso</a>
                    <form action="/courses/{{_id}}/eliminar" method="POST">
                        <input type="submit" value="Eliminar curso" class="btn btn-danger">
                    </form>
                    {{/if}}
                </td>

            </tr>

            {{/each}}

        </tbody>

    </table>

    <a href="/" class="btn btn-dark">Volver a Inicio</a>

    {{#if isTA}}
    <a href="/courses/crear" class="btn btn-success">Crear curso</a>
    {{/if}}

</div>