<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Add course</h1>
            <hr>

            <form action="/courses/add" method="POST">

                <div class="mb-3 row">
                    <div class="col-md-6">
                        <label for="courseTitle" class="form-label">Course Title</label>
                        <input type="text" class="form-control" id="courseTitle" name="courseTitle">
                        <div class="form-text">*required</div>
                    </div>
                    {{!-- <div class="col-md-6">
                        <label for="leadTeacher" class="form-label">Lead Teacher</label>
                        <input type="text" class="form-control" id="leadTeacher" name="leadTeacher">
                        <div class="form-text">*required</div>
                    </div> --}}
                    <div class="col">
                        <label for="startDate" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="startDate">
                        <div class="form-text">*required</div>
                    </div>
                    <div class="col">
                        <label for="endDate" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="endDate" name="endDate">
                        <div class="form-text">*required</div>
                    </div>
                    {{!-- <div class="col-md-6">
                        <label for="TA" class="form-label">TA</label>
                        <input type="text" class="form-control" id="TA" name="TA">
                        <div class="form-text">*required</div>
                    </div> --}}

                    <div class="col-md-6">
                        <label for="imageInput" class="form-label">Course Image</label>
                        <input type="url" class="form-control" id="imageInput" name="CourseImg">
                        <div class="form-text">Add an image that sets a moodboard for the course.</div>
                    </div>

                    <div class="col-12">
                        <label for="courseDescription" class="form-label">Course Description</label>
                        <textarea class="form-control" id="courseDescription" rows="3"
                            name="courseDescription"></textarea>
                        <div class="form-text">*required</div>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Submit course</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

</div>