<div class="container">
    <h1>Create a new course</h1>

    <form action="#" method="POST" class="white col-md-6">

        <div class=" mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>

        <div class="mb-3">
            <label for="leadTeacher" class="form-label">leadTeacher</label>
            <select name="leadTeacher" class="form-select" id="leadTeacher" multiple></select>
        </div>

        <div class=" mb-3">
            <label for="Starter date" class="form-label">Starter date</label>
            <input type="date" class="form-control" id="Starter date" name="Starter date">
        </div>

        <div class=" mb-3">
            <label for="Finish date" class="form-label">Finish date</label>
            <input type="date" class="form-control" id="Finish date" name="Finish date">
        </div>

        <div class="mb-3">
            <label for="TA" class="form-label">TA</label>
            <select name="TA" class="form-select" id="TA" multiple></select>
        </div>

        <div class=" mb-3">
            <label for="Status" class="form-label">Status</label>
            <input type="text" class="form-control" id="Status" name="Status">
        </div>

        <div class="mb-3">
            <label for="Students" class="form-label">Students</label>
            <select name="cast" class="form-select" id="cast" multiple></select>
        </div>

        <button type="submit" class="btn btn-dark">Create course</button>
        <a href="/" class="btn btn-dark">Back</a>
    </form>
</div>