<div class="container">

    <h2>Courses</h2>

    {{#if this.isTA}}
    <a href="/courses/create" class="btn btn-custom vertical-margin-2">Create a new course</a>
    {{/if}}

    <ul class="row gy-2">

        {{#each this.courses}}
        <li class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="container-fluid reset-padding padding-3">
                <div class="row g-0 gy-0">

                    <img src={{courseImg}} alt="course image" class="course-image">

                    <h4>{{title}}</h4>

                    <a href="/courses/{{id}}" class="btn btn-dark">View course details</a>

                </div>
            </div>
        </li>
        {{/each}}

    </ul>

    <a href="/">Go back</a>
</div>