<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="/courses/add">Add new course</a>
        </div>
    </div>
</div>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2>Course title</h2>
            <p>{{title}}</p>

        </div>
    </div>
</div>