<main>
    <h2>Panel de Cursos</h2>

    <ul>
        {{#each courses}}
            <li>{{title}}</li>
        {{/each}}
    </ul>


    <a href="/courses/add">Añadir Nuevo Curso</a>
    <br>
    <a href="/">Volver a la Home</a>
</main>