<div class="container">
    <h1>{{curso.title}}</h1>


    
    <form action="/cursos/{{curso._id}}/eliminar" method="POST">
        <button class="btn btn-danger">Eliminar</button>
    </form>
</div>