<p>Para crear un curso haz <a href="/courses/create">click aquí</a></p>
<h2>List of Course</h2>
{{#if errorMessage}}
  <div id="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
{{/if}}
<div>
  {{#each courses}}
    <div>
      <h2>{{this.title}}</h2>
      <h5>{{this.leadTeacher.username}}</h5>
      <a href="/courses/{{this._id}}">Detalles</a>
    </div>
  {{/each}}
</div>