<div class="container">
    <h1>Crear Curso</h1>

    <form action="/cursos/crear" method="POST">
        <label>
            <input type="text" name="title">
        </label>

        <button class="btn btn-dark">Crear Curso</button>
    </form>
</div>