<div class="container">
  <h1>
     </h1>

     
  <hr />
  <hr />
  
  <div class="row justify-content-center">

    <div class="col-md-6">
        
      <form action="/students/edit-students/:{{id}}" method="POST">
        <div class="form-group">
          <label for="title">Change names</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            
            value={{username}}
         
          />
        </div>

        <button type="submit" class="btn btn-dark btn-block">Save change</button>
      </form>
    </div>
  </div>

  <hr />
  <a href="/" class="btn btn-dark">Volver</a>
</div>