<div class="container">
    <div class="row justify-content-center">
        <div class="col-9 d-flex justify-content-center">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9 d-flex justify-content-center">
            <p>Welcome to {{title}}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9 d-flex justify-content-center">
            <a class="btn btn-dark" href="/login">Login</a>
        </div>
    </div>
</div>