<div class="inicio">
  <h1>WELCOME TO OUR SOCIAL NETWORK.</h1>
  <hr>
  <div class="whiteBG">
    <h2>If you don't have an account, <a href="/registro"> JOIN US!</a></h2>
    <h2>If you already do, <a href="/iniciar-sesion">LOGIN!</a></h2>
  </div>
  <div class="whiteBG">
    <hr>
    <h2>Change your data on the details of your profile</h2>
    <hr>
  </div>
</div>