<div class="container">

    <h1>{{title}} 🚀</h1>
    <p>Welcome Ironhacker!</p>

    <div class="row">

        <a class="btn btn-outline-warning" href="/students">ESTUDIANTES</a>

        <br>

        <a class="btn btn-outline-warning" href="/students/create">CREAR ESTUDIANTE</a>
        <br>

        <a class="btn btn-outline-warning" href="/login">LOGIN</a>
        <br>

        <a class="btn btn-outline-warning" href="/login/check">REGISTRO</a>

    </div>

</div>