<div class="container">

  <h1>Duck Acuackdemy</h1>
  <hr>
  <p class="home-tag">The cuack way to learn!</p>
  
  <div class="home-container">
    <div class="btn-container">
      <a class="home-btn" href="/iniciar-sesion">Log In</a>
      <a class="home-btn-2" href="/students">Check all our students</a>
    </div>

    <div class="home-img-container">
      <img src="/rain_duck.png" alt="rain_duck">
    </div>
    
  </div>

</div>




