<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <h1>IRONHACK WEBSITE</h1>
            <br>
            <a href="/signup" class="btn btn-dark">Sign up</a>
            <span>or</span>
            <a href="/login" class="btn btn-dark">Log in</a>
        </div>
    </div>
</div>