<div class="container">
    <h1>Full learning platform 🚀</h1>
    <hr>
    <p>Welcome Ironhacker!</p>

    <hr>
    <br>


    <p>Create your account
        <a href="/signup" class="btn btn-dark">Sign up!</a>
    </p>

    <p>Already a member?   
        <a href="/login" class="btn btn-dark">Log In!</a>
    </p> 

</div>
