<form action="/login" method="POST">
    <label for="name-input">Username</label>
    <input type="text" name='username' id="name-input">

    <label for="password-input">Password</label>
    <input type="password" name="password" id="password-input">

    <button type="submit">Log in</button>
</form>

{{#if errorMsg}}
<p class="errorMsg">{{errorMsg}}</p>
{{/if}}

<p>Not registered yet? <a href="/signup">Sign up</a></p>