<div class="container">
    <div class="row">
        <div class="col">
            <h1>My pannel</h1>
        </div>
    </div>
    {{#if isBoss}}
    <div class="row">
        <div class="col">
            <a class="btn btn-dark" href="/my-platform/add-employee">Add employee</a>
        </div>
        <div class="col">
            <a class="btn btn-dark" href="/my-platform/remove-employee">Remove employee</a>
        </div>
    </div>
    {{/if}}
    {{#if successMessage}}
    {{successMessage}}
    {{/if}}
</div>