<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>404 Error</h1>
            <h2>This route does not exist on the app! <br>
                Check if everything is ok! <br>
                Check your routes to see what might have happened.
            </h2>
            <p>Estás más perdido que Karina en el Scorpio, prueba otra ruta.</p>
        </div>
    </div>
</div>