<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Hello {{name}}</h2>
            <hr>
            <h3>Data:</h3>
            <ul>
                <li>Username: {{username}}</li>
                <li>Role: {{role}}</li>
            </ul>
        </div>
    </div>
</div>