<div class="container">
    <h1>Propiedades</h1>
    <ul>
        {{#if isPM}}
        <button class="btn btn-danger">Delete</button><br>
        <button class="btn btn-warning">Edit</button><br>
        {{/if}}
        </li>
    </ul>
</div>