<form action="/signup" method="POST">
    <label for="name-input">Username</label>
    <input type="text" name='username' id="name-input">

    <label for="password-input">Password</label>
    <input type="password" name="password" id="password-input">

    <button type="submit">Sign up</button>
</form>

{{#if errorMsg}}
<p> {{errorMsg}} </p>
{{/if}}