<div class="container">
    <h1> Details of {{student.username}}</h1>

    <hr>

    <p>Email: {{student.email}} </p>

    <p>Description: {{student.description}} </p>

    <p>Role: {{student.role}} </p>

</div>