<div class="container">

  <h1>Lista de alumnos</h1>

  {{#each users}}
  <a href="/students/edit-students/{{id}}">Edit name</a>d
    {{username}}
    <a href="/students/students-profile/{{id}}">Profile</a>
    <hr>
    
  {{/each}}

    

</div>