<div class="container">

    <h1>Perfil de {{username}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p>Nacionalidad: .......</p>
            <p>Formación general: ........</p>
            <p>Formación complementaria: ........</p>
            <p>Idiomas: .........</p>
            <p>Experiencia laboral: .........</p>  
            <p>Disponibilidad para viajar: .......</p>    
            <br>
        </div>
        
    </div>

    <hr>

    <a href="/estudiantes" class="btn btn-dark">Volver</a>
</div>