<h2>Update Student</h2>

<form action="/students/{{id}}/update" method="post">
    <label for="">name</label>
    <input type="text" name="username" value="{{username}}">

    <label for="">description</label>
    <input type="text" name="description" value="{{description}}">

    <button type="submit">Update</button>
</form>