<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <form action='/students/edit/{{user._id}}' method="POST">
                <div class="mb-3 mt-5">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
                </div>
                <div class="mb-3 mt-5">
                    <label for="profileImg" class="form-label">Foto de Perfil:</label>
                    <input type="text" class="form-control" id="profileImg" name="profileImg"
                        value="{{user.profileImg}}">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripcion:</label>
                    <input type="text" class="form-control" id="description" name="description"
                        value="{{user.description}}">
                </div>
                {{#if isAdmin }}
                <select name="role" class="form-select" id="role">
                    <option> Seleccionar Rol</option>
                    <option> STUDENT</option>
                    <option> DEV</option>
                    <option> TA</option>

                </select>
                {{/if}}
                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark">Editar</button>
                </div>


            </form>


            <a href="/students/lista" class="btn btn-dark mt-2">Volver al listado</a>

            <hr>
        </div>
    </div>
    <a href="/" class="btn btn-dark">Volver al Inicio</a>
</div>