<h2 class="text-center m-4">Student Details</h2>

<div class="container d-flex justify-content-around">

    <div class="row">

        <div class="card" style="width: 18rem;">
            <img src="{{profileImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
                <p class="card-text">{{description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{email}}</li>

            </ul>
            {{!-- <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div> --}}
        </div>


    </div>

</div>