<div class="container">
    <div class="row justify-content-left">

        {{#each user}}

        <div class="col col-md-6 col-lg-4 col-xxl-3">
            <div class="card text-center mb-3" style="width: 18rem;">

                <img src="{{profileImg}}" class="card-img-top" alt="profile-img">

                <div class="card-body">
                    <h5 class="card-title">{{username}}</h5>
                    <hr>
                    <a href="/perfil/{{_id}}" class="btn btn-dark">Ver perfil</a>
                </div>
            </div>
        </div>

        {{/each}}

    </div>
</div>