<div class="container">
    <li>
        {{name}} |<img src="{{profileImg}}" alt="Profile-Image" srcset="">|<br>Role: {{role}} |<br> Description:<em>"
            {{description}}"</em>
    </li>
</div>