<div class="container">

    <h1>¡Hola, soy {{user.name}}!</h1>
    <hr>
    <div class="row">
        <div class="col-6">

            <p>{{user.description}}</p>

            <h3>Rol: </h3>
            <p>{{user.role}}</p>

            <a href="/usuario/students" class="btn btn-outline-dark">Volver</a>

        </div>
        <div class="col-6">
            <img src="{{user.profileImg}}" alt="profileImg" align="right">

        </div>


    </div>



</div>