<div class="container">

    <li>
        {{name}} |<img src="{{profileImg}}" alt="Profile-Image" srcset="">|<br>Role: {{role}} |<br> Description:<em>"
            {{description}}"</em>
    </li>
    <form action="/" method="post">
        <button type="submit" class="btn btn-outline-dark btn-sm"> <strong>Delete ✖</strong></button>
    </form><br>
    <a class="btn btn-outline-dark btn-sm" href="/">Edit ✏</a>
    </ul>
    <hr>
    <br>
    <br>
    </small>
    
    </p>
    <hr>

</div>