<div class="container">
    <h1>Students List</h1>
    <hr>
    {{#each users}}
    <li>
        {{name}} |
        <br>Role: {{role}}  
    </li>
        </ul>
    <hr>
    </small>    
        </p><hr>
    {{/each}}

</div>