<div class="container">

    <h2>Detalles de {{username}}!</h2>
    <p>Esta es la información disponible</p>
    <hr>

    <div class="row">
        <div class="col">
            <img src="{{profileImg}}" alt="foto de perfil">
            <br>
            <p>Username: {{username}}</p>
            <br>
            <p>Descripción: {{description}}</p>
        </div>
    </div>


</div>