<div class="container">
    {{#with student}}
    <h1>Bienvenid@, {{username}} </h1>
    <p>El mail con el que está registrado: {{email}} </p>
    <p>Su descripción es : {{description}} </p>
    <p>Su rol es: {{role}} </p>
    {{/with}}
</div>