<div class="container">

    <h1>Detalles del estudiante</h1>
    <hr>
    {{#each user}}
    <p>{{username}} <br>{{role}} <br> email {{email}} <br> descripción {{description}}</p>
    <hr>
    {{/each}}
</div>



</div>