<div class="container">
    <h1>Student Details</h1>
    <hr>
    {{#each user}}
    <h2></h2>
    <p>{{username}}</p>
    <p>{{role}}</p>
    <p>{{email}}</p>
    <p>{{description}}</p>
    {{/each}}
</div>