<div class="container">
    <h1>Hacer {{student.username}} a Developer</h1>

    <form action="/estudiantes/{{_id}}/dev" method="POST">
        <label>
            Role: 
            <input type="text" name="role">
        </label>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>