<div class="container">
    <h1>Editar {{title}}</h1>
    <hr>

    <div class="row justify-content-center">

        <div class="col-md-6">

            <form action="/students/edit/{{id}}" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="description" name="username">
                </div>
                
            
            <div class="form-group">
                <label for="role">Rol: </label>
                <select class="form-control" id="role" name="role">
            
                    <option name="STUDENT">STUDENT</option>
                    <option name="DEV">DEV</option>
                    <option name="TA">TA</option>
                    <option name="TEACHER">TEACHER</option>
            
                </select>
            </div>
            
           
           
            <br>
            <button type="submit" class="btn btn-dark">Confirm</button>
            </form>
        </div>
    </div>

  


    <hr>
    <a href="/" class="btn btn-dark">Volver</a>
</div>