<form action="/students/{{user.id}}/edit-profile" method="POST">

    <label for="username-input">Username</label>
    <input type="text" name="username" id="username-input" value='{{user.username}}'>

    <label for="current-password-input">Current password</label>
    <input type="password" name="currentPassword" id="current-password-input">

    <label for="new-password-input">New password</label>
    <input type="password" name="newPassword" id="new-password-input">

    <button type="submit" class="btn btn-dark">Update</button>

</form>

{{#if errorMsg}}
<p>{{errorMsg}}</p>
{{/if}}