<h1>Editar students</h1>

<form action="/students/editar?student_id={{id}}" method="POST">

    <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" name="username" id="username" value="{{student.username}}">
    </div>

        <div class="form-group">
        <label for="name">username</label>
        <input type="text" class="form-control" name="name" id="name" value="{{student.name}}">
    </div>

    {{#if ../isAdmin}}
    <div class="form-group">
        <label for="role">role</label>
        <input type="text" class="form-control" name="role" id="role" value="{{student.role}}">
    </div>
    {{/if}}


    <button type="submit" class="btn btn-dark btn-block btn-lg">Guardar edición</button>

</form>