<div>

    <h1>{{username}}</h1>
    <p>Su rol es {{role}}</p>

</div>


<div>

    {{!-- {{#if ../isPM}}
    <button>Eliminar Alumno</button>
    <button>Editar Alumnno</button>
    {{/if}} --}}

    <button>Eliminar Alumno</button>
    <button> <a href="/students-edit/{{id}}">Editar Alumnno</a>
    </button>

</div>