<div class="students-list">

    <h2>Estudiantes</h2>
    <div class="row">

        {{#each students}}

        <div class="col-md-4">
            <div class="card mb-4 artist-card">

                <div class="card-name">

                    <h3>{{username}}</h3>
                </div>
                <div class="card-occupation">
                    <p>{{role}}</p>
                    <a href="/students/{{_id}}" class="btn btn-warning btn-md">Ver perfil</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>