<div class="container">
    <h1>Students list:</h1>

<div class="list-group col-md-4">
{{#each allStudents}}
  <a href="/estudiantes/{{_id}}" class="list-group-item list-group-item-action">{{username}}</a>
{{/each}}
</div>


   
</div>