<div class="container">

    <h1>Students list</h1>
    <hr>

    {{#each users}}
    <p>- {{username}}
        <small>
            <a href="/students/details/{{id}}">Details</a>
            {{#if ../isAdmin}}
            |
            <a href="/students/edit-profile/{{id}}">Edit</a>
            |
            <a href="/students/edit-role/{{id}}">Change Role</a>
            |
            <a href="#" style="color: red">Delete</a>
            {{/if}}

        </small>
    </p>
    {{/each}}

</div>