<div class="container">

    <h2>Lista de Estudiantes</h2>

    <hr>

    <ul>
        <div class="row">

            {{#each students}}

                <div class="col-12 d-flex align-items-center mb-4">
                    <li> {{username}} </li>
                    <a href="/estudiantes/detalles/{{id}}" type="button" class="btn btn-dark ml-4">Ver detalles</a>
                </div>

            {{/each}}   

        </div>
    </ul>

</div>