<div class="container">
    {{#each students }}
    {{username}}
    <div class="btn">
        <a href="/students/{{_id}}" class="btn btn-dark">View Student Profile</a>
    </div>
    {{/each}}
</div>