<div class='container'><ul>
    {{#each user}}<li>
        {{username}}
        <a href='/students/{{id}}' type='button' class='btn btn-dark'>View
          student profile</a>

      </li>{{/each}}
  </ul>
</div>