<div>
    <div>
        <h1>Estudiantes</h1>
        {{#each students}}
        <div>
            <img src="{{profileImg}}">
            <div>
                <h5>{{username}}</h5>
                <p>{{description}}</p>
                <a href="/students/{{_id}}">More detail</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>