<div class="container">

    <h1>ALL THE STUDENTS</h1>

    <hr />

    <ul>
        {{#each students}}
            <li>
                <p>name: {{username}}</p>

                <button>
                    <a href="/students/{{id}}">Student Details</a>
                </button>
            </li>
        {{/each}}
    </ul>

    <hr />

</div>