<div class="container">

    <h1>Bienvenido {{username}}</h1>


    <h1></h1>
    <hr>
    <p> Your email: {{email}}</p>
    <hr>
    <img src="{{profileImg}}" alt="student image"></p>
    <hr>
    <p>Bio: {{description}}</p>

</div>