<h1>Student List</h1>
<hr>

{{#each studentList}}

<div class="fw-bold">{{username}}</div>
<a href="/students/{{_id}}">Student Profile</a>
{{!-- botón que te lleva al perfil de cada uno de lso estudiantes, hay que crear una RUTA para que te
renderice el student-profile --> RUTA GET --}}

{{/each}}