<div class="container">
    {{#each theStudents}}
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{this.username}}
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger" href="/students/{{this._id}}">View Profile</a>
        </div>
    </div>
    {{/each}}
</div>