<div class="container"> 

    <h2> ALL STUDENtS </h2>
    <ul>{{#each students}}
        <li>
            <h1>{{username}}</h1>  
            <a href="/students/{{id}}" class=" btn btn-dark btn-square-md">Details</a>           

        </li>
         {{/each}}
    </ul>
    

</div>



