body {
  font-weight: 200;
  font-family: sans-serif;
  
}


h1, h2, h3, p{
  font-weight: 200;
  margin-left: 30px;
  color: black;

  
}

.navbar {
  margin-bottom: 80px;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}


@keyframes  showFromBottom {
  0% {
    bottom: -50px
  }

  10% {
    bottom: 10px;

  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px
  }
}

form, a {
  margin-left: 30px;
}

li {
  list-style: none;
}