body {
  font-weight: 200;
  font-family: 'Zen Kaku Gothic New', sans-serif; 
  font-size: 20px;
}


h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 80px;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}


@keyframes  showFromBottom {
  0% {
    bottom: -50px
  }

  10% {
    bottom: 10px;

  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px
  }
}

.student-menu {
  color: white;
  background-color: black;
  border-radius: 10px;
  display: block;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.student-menu:hover {
  background-color: rgb(209, 209, 209);
  color: black;
  text-decoration: none;
}

.student-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.student-list-title {
  font-weight: 900;
  text-decoration: line-through;
}

.list-name {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

.username-list {
  font-weight: 900;
  font-size: 30px;
}



.seemore-student-list {
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 10px;
  display: block;
  width: 120px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin-top: 20px;
  text-decoration-line: none;
}

.edit-student-list {
  color: white;
  background-color: rgb(58, 58, 58);
  border-radius: 10px;
  display: block;
  width: 250px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
}

.delete-student-list {
  color: white;
  background-color: rgb(58, 58, 58);
  border-radius: 10px;
  display: block;
  width: 180px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin-top: 10px;
  list-style: none;
}

.seemore-student-list:hover {
  background-color: rgb(209, 209, 209);
  color: black;
  text-decoration: none;
}

.edit-student-list:hover {
  background-color: rgb(209, 209, 209);
  color: black;
  text-decoration: none;
}

.delete-student-list:hover {
  background-color: rgb(209, 209, 209);
  color: black;
  text-decoration: none;
}

.nav-bar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
