<section class="container">
    <div class="row">
        <div class="col-md-3">{{profileImg}}</div>
        <div class="col-md-9">
            <ul>
                <li>{{name}}</li>
                <li>{{description}}</li>
                <li>{{role}}</li>
            </ul>
        </div>

    </div>

</section>