<div class="container">
    <h1>Student details</h1>
    <img src="{{student.profileImg}}" alt="{{student.name}}">
    <li><b>Name:</b> {{student.name}}</li>
    <li><b>Description:</b> {{student.description}}</li>
</div>