<div class="container">

    {{#with theStudent}}
    <h1>{{username}}</h1>
    <hr>
    <h3>About {{username}}</h3>
    <p>Description: {{description}}</p>
    <hr>
    <p>Role: {{role}}</p>
    <hr>
    <a href="/students" class="btn btn-dark">Go back to students list</a>

    {{/with}}

    

</div>