<div class="container">
    <h1>Welcome to {{siteTitle}}</h1>
    <h1>{{name}}</h1>
    <hr>

    <div class="options">
        <h1>Choose What To Do</h1>
        <a href="/signup">Sign-Up</a>
        <a href="/login">Log-In</a>
        <a href="/logout">LogOut</a>
    </div>
    <hr>

    <div class="students">
        <h1>Students</h1>
        <a href="/students">Students</a>
    </div>
</div>