<h2>Lista de estudiantes</h2>

<div class="row">
    {{#each students}}
    <div class="col-4">

        <div class="card" style="width: 18rem;">
            <img src="{{profileImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
                <h6>{{description}}</h6>
                <a href="/details/{{_id}}" class="btn btn-primary">Detalles</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>