<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-4">

            <h1>Modificar Estudiante</h1>
            <br>
            <hr>
            <br>

            <form action="/estudiantes/edit/{{id}}" method="POST">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                </div>

                <select class="form-select" aria-label="multiple select example" name="newroles">
                    <option name="DEV">DEV</option>
                    <option value="TA">TA</option>
                    <option value="STUDENT">STUDENT</option>
                </select>


                <button type="submit" class="btn btn-dark btn-block">Modificar</button>
            </form>

            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}

            <hr>