<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-4">

            <h1>Modificar Perfil</h1>
            <br>
            <hr>
            <br>

            <form action="/estudiantes/userEdit/{{user.id}}" method="POST">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
                </div>

                <button type="submit" class="btn btn-dark btn-block">Modificar</button>
            </form>

            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}

            <hr>