<div class="container">

    <h1>ALL THE TA'S</h1>

    <hr />

    <ul>
        {{#each teacherAsistant}}
            <li>
                <p>name: {{username}}</p>

                {{!-- <button>
                    <a href="/students/{{id}}">Student Details</a>
                </button> --}}
            </li>
        {{/each}}
    </ul>

    <hr />

</div>