<div class="container">

    <div class="row">
        <div class="col-md-4">
            <img src="https://i.etsystatic.com/9343091/r/il/5e570e/1470623930/il_570xN.1470623930_igx2.jpg" alt="cat boss">
        </div>

        <div class="col-md-8">
            <h1>Cat boss page</h1>
            <hr>

            <section>
                <a href="/register" class="btn btn-dark">Register a new user</a>
            </section>

            <section>
                <a href="/users-list" class="btn btn-dark">Cathack users list</a>
            </section>
            
        </div>
    </div>
</div>