<h1>editar</h1>


<form action="/user/{{id}}/edit" method="POST">
    <label>
        usuario
        <input type="text" name="username" value="{{username}}">
    </label>
    <label>
        email
        <input type="text" name="email" value="{{email}}">
    </label>
    <input type="submit" value="editar">
</form>