<div class="container">
    <h1>Hola! {{user.username}}</h1>
    <hr>
    <div>
        <img src="{{user.profileImg}}" alt="profile photo">
    </div>
    <hr>

    {{#if isAdmin}}
    <a href="/" class="btn btn-danger">Banear usuario</a>
    {{/if}}
</div>