<div class="container">
    <h1>Hello! {{user.username}}</h1>
    <h5>Name: {{user.name}}</h5>
    <hr>
    
    <div>
        <img src="{{user.profileImg}}" alt="profile photo">
    </div>
    <hr>

    <section>
        <a href="/edit/{{user.id}}" class="btn btn-dark">Edit profile</a>
    </section>
</div>