<h2>details</h2>
{{#with student}}
<p>{{username}}</p>
<p>{{email}}</p>
<img src="{{profileImg}}"with="200" height="200">
<p>{{description}}</p>
<form action="/students">
<button type ="submit">students list</button></form>
{{/with}}