
{{#each users}}


<div class="card w-30 align-items-center">
  <div class="card-body">
    <h5 class="card-title">Student</h5>
    <p class="card-text">{{username}}</p>

    <a href="/students/{{_id}}" class="btn btn-primary">Button</a>

  </div>
</div>


{{/each}}

