<div class="container">

    <h1>Courses</h1>

    <hr>

    <ul>
        {{#each courses}}
        <p>{{title}}</p>
        {{/each}}
    </ul>

    <hr>

    <a href="/" class="btn btn-dark">Home</a>

</div>