<h1>CURSOS</h1>
{{#if isTA}}
<a href="/courses/create">Crear curso</a>
{{/if}}

{{#each courses}}
<ul>
    <li>
        {{title}} 
        <br>
        {{#if ../isTA}}<a href="/courses/{{id}}/edit">Editar</a>{{/if}}
        <br>
        {{#if ../isTA}}
        <form action="/courses/{{_id}}/delete" method="POST">
            <button class="btn btn-light btn-sm" type="submit">Delete</button>
        </form>
        {{/if}}
    </li>
</ul>
{{/each}}