<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Create new course</h1>

            <hr>

            <form action="/create" method="POST">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="leadTeacher" class="form-label">Lead Teacher</label>
                    <input type="text" class="form-control" id="leadTeacher" name="leadTeacher">
                </div>

                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="text" class="form-control" id="startDate" name="startDate">
                </div>

                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate">
                </div>

                <div class="mb-3">
                    <label for="ta" class="form-label">TA</label>
                    <input type="text" class="form-control" id="ta" name="ta">
                </div>

                <div class="mb-3">
                    <label for="courseImg" class="form-label">Course Img</label>
                    <input type="text" class="form-control" id="courseImg" name="courseImg">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <input type="text" class="form-control" id="status" name="status">
                </div>

                <div class="mb-3">
                    <label for="students" class="form-label">Students</label>
                    <input type="text" class="form-control" id="students" name="students">
                </div>


                <button type="submit" class="btn btn-dark">Create new course</button>
                <a href="/" class="btn btn-dark">Home</a>
            </form>

            <hr>

        </div>
    </div>


</div>