<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <a href="/course/create">Create a course</a>
        </div>

        {{#each courses}}
        <div class="col-3">
            <h4 align='center'>{{title}}</h4>
            <hr>
        </div>
        {{/each}}
    </div>
</div>