<div class="container">
    <h2>Menu de cursos para Teacher's Assistants</h2>

    <a href="/courses/crear" class="btn btn-primary">Crear</a>
    <a href="#" class="btn btn-secondary">Lista</a>
    <a href="#" class="btn btn-success">Modificar</a>
    <a href="#" class="btn btn-info">Eliminar</a>


</div>